/*====================================
UTILITIES
======================================*/
body {
  font-family: 'Poppins', sans-serif;
}

h3.section-title {
  font-size: 1.5rem;
  font-weight: 600;
}

h4.service-title {
  font-size: 1rem;
  font-weight: 600;
}

input.form-control {
  background-color: transparent;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.6);
}

.form-floating>.form-control:-webkit-autofill~label {
  color: rgb(33, 37, 41) !important;
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
  color: rgb(33, 37, 41) !important;
}

p {
  font-weight: 400;
  font-size: 1rem;
}


/*====================================
SECTION:BANNER
======================================*/
section#banner h1 {
  line-height: 4rem;
  font-size: 2.3rem;
  font-weight: 700;
}

section#banner h2 {
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 2.5rem 2.5rem rgba(255, 255, 255, 0);
}


/*====================================
SECTION:SERVICES
======================================*/
section#services {
  background-image: url('./../assets/backgrounds/s_image.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#services p {
  text-shadow: 6rem 6rem rgba(255, 255, 255, 0);
}

/*====================================
SECTION:WHAT WE DO
======================================*/
section#what-we-do p {
  font-size: 0.9rem;
}

section#what-we-do div#design-service,
section#what-we-do div#dev-service,
section#what-we-do div#product-mgmt-service{
  cursor: pointer;
}

section#what-we-do div#design-service-description,
section#what-we-do div#dev-service-description,
section#what-we-do div#product-mgmt-service-description {
  display: none;
}

/*====================================
SECTION:PORTFOLIO
======================================*/
section#portfolio div#project-name-1,
section#portfolio div#project-name-2,
section#portfolio div#project-name-3,
section#portfolio div#project-name-4, 
section#portfolio div#project-name-5, 
section#portfolio div#project-name-6,
section#portfolio div#project-name-7,
section#portfolio div#project-name-8 {
  display: none;
  box-shadow: 8rem 8rem rgba(255, 255, 255, 0);
  z-index: 4;
}

section#portfolio p {
  font-weight: 500;
}

/*====================================
SECTION:CONTACT US
======================================*/
section#contact-us {
  background-image: url('./../assets/backgrounds/c_image.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#contact-us textarea.message-box {
  height: 15rem;
}

section#contact-us input.form-control,
section#contact-us textarea.form-control {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}


/*====================================
SECTION:MEDIA QUERIES
======================================*/
/*Small devices like phones*/
@media screen and (max-width: 575px) {
  h3.section-title {
    font-size: 1rem;
  }

  h4.service-title {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.5rem;
  }

  section#banner img#logo {
    max-width: 2rem;
    max-height: 2rem;
  }

  section#banner img#mouse-click {
    max-width: 1rem;
    max-height: 1rem;
  }

  section#banner h1 {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }

  section#banner h2 {
    font-size: 0.5rem;
  }
}

/*Medium devices like tablets*/
@media screen and (min-width: 768px) and (max-width: 991.98px){
  p {
    font-size: 0.8rem;
  }

  section#banner h1 {
    line-height: 3rem;
    font-size: 2rem;
  }

  section#banner h2 {
    font-size: 1rem;
  }

  section#banner img#logo {
    max-width: 4rem;
    max-height: 4rem;
  }

  section#banner img#mouse-click {
    max-width: 3rem;
    max-height: 3rem;
  }
}









