/*====================================
SECTION:BANNER
======================================*/
section#banner{
  background-image: url('./../assets/backgrounds/h_img.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

section#banner img#logo{
  margin-top: 12rem;
}

section#banner h1{
  line-height: 4.3rem;
  font-size: 2.5rem;
}

section#banner h2{
  font-size: 1rem;
}

section#banner img#mouse-click{
  margin-top: 7rem;
}


/*====================================
MEDIA QUERIES
======================================*/

/*Large devices*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /*Section: Banner*/
  section#banner img#logo {
    margin-top: 10rem;
    margin-bottom: 0.8rem;
  }
  section#banner img#mouse-click {
    margin-top: 6rem;
  }
}

/*Extra large devices*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  /*Section: Banner*/
  section#banner img#logo {
    margin-top: 16.5rem;
    margin-bottom: 0.6rem;
  }

  section#banner img#mouse-click {
    margin-top: 11rem;
  }
}
