/*====================================
UTILITIES
======================================*/
h3.section-title{
  font-size: 1.5rem;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.6);
}


/*====================================
SECTION:BANNER
======================================*/
section#banner{
  background-image: url('./../assets/backgrounds/h_img.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

section#banner img#logo{
  margin-top: 13rem;
}

section#banner h1{
  line-height: 4rem;
  font-size: 2.5rem;
}

section#banner h2{
  font-size: 1rem;
  margin-bottom: 3.3rem;
}

/*====================================
SECTION:SERVICES
======================================*/
section#services{
  background-image: url('./../assets/backgrounds/s_image.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*====================================
SECTION:WHAT WE DO
======================================*/
section#what-we-do p{
  font-size: 0.9rem;
}

/*====================================
SECTION:CONTACT US
======================================*/
section#contact-us{
  background-image: url('./../assets/backgrounds/c_image.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#contact-us textarea.message-box{
  height: 15rem;
}

section#contact-us input.form-control,
section#contact-us textarea.form-control{
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}


/*====================================
SECTION:MEDIA QUERIES
======================================*/
/*Small devices like phones*/
@media screen and (max-width: 575px) {
  section#banner{
    height: 70vh;
  }

  section#banner img#logo {
    margin-top: 6.5rem;
    margin-bottom: 1rem;
  }

  section#banner h1 {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

  section#banner h2 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}

/*Medium devices like tablets*/
@media screen and (min-width: 768px) and (max-width: 991.98px){
  section#banner {
    height: 70vh;
  }

  section#banner img#logo {
    margin-top: 13rem;
    margin-bottom: 1.6rem;
  }
    
  section#banner h1 {
    line-height: 4rem;
    font-size: 3rem;
  }

  section#banner h2 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}









